txdb_url = jdbc:mysql:loadbalance://bogus,localhost:3306/goctx?loadBalanceBlacklistTimeout=5000&characterEncoding=UTF-8&characterSetResults=UTF-8
txdb_user = XXXXX
txdb_pass = YYYYY

goctx_filelock_path=/tmp/goctx.lock

# deprecated?
debug_use_dev = true

goctx_fqdn = goctx.fqdn.example.com

javax.net.ssl.trustStore = /opt/goctx/etc/jssecacerts
javax.net.ssl.trustStorePassword = YYYYY

site1_accessor_url = https://tickets.site1.example.com/REST/1.0/
site1_accessor_username = XXXXX
site1_accessor_password = YYYYY

site2_accessor_url = https://tickets.site2.example.com/REST/1.0/
site2_accessor_username = XXXXX
site2_accessor_password = YYYYY


